h1 {
    text-align: center;
    color: green;
    background-color: orange;
    border: 5px solid black;
}

caption {
    font-weight: bold;
}
table, caption {
    background-color:lavender;
    color:lightseagreen;
   
}